# ==========================================
# CONFIGURAÇÕES DO SERVIDOR SOCKET (TCP/IP)
# ==========================================
# Endereço IP do servidor (para testes locais)
HOST=127.0.0.1
# Porta em que o servidor socket vai escutar
PORT=5050

# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (MongoDB)
# ==========================================
# URI de conexão com o MongoDB (Substitua pelos seus dados se for usar nuvem)
# Exemplo local: mongodb://localhost:27017/
# Exemplo nuvem: mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/
DB_URI=

# Nome do banco de dados que será utilizado
DB_NAME=forca_capstone_db