gunicorn==21.2.0

# Banco de dados
pymongo==4.6.2
dnspython==2.6.1

# Segurança
bcrypt==4.1.2

# Variáveis de ambiente
python-dotenv==1.0.1

# WebSocket (ESSENCIAL pro SocketIO)
flask-socketio==5.3.6
eventlet==0.33.3

# Framework web
flask==2.3.2

# JWT
pyjwt==2.8.0