gunicorn==21.2.0
# Conexão com o Banco de Dados MongoDB
pymongo==4.6.2
dnspython==2.6.1

# Segurança de senha
bcrypt==4.1.2

# Variáveis de ambiente
python-dotenv==1.0.1

# Framework web (API HTTP)
flask==2.3.2

# Autenticação com token JWT
pyjwt==2.8.0